In [2]:
from pymongo import MongoClient

# MongoDB 인스턴스에 연결
# client = MongoClient('mongodb://hanslab.org:27117/')
client = MongoClient('mongodb://likelion:1234@hanslab.org:27117/')

In [3]:
# 데이터베이스 선택 (없으면 새로 생성됨)
db = client['tutorial_db_yeojin']

In [5]:
# 컬렉션 선택 (없으면 새로 생성됨) -> sql table
collection = db['tutorial_collection']

In [6]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)

In [19]:
users = db['users'] # users라는 이름의 collection을 생성한다 cf. sql의 table

In [20]:
# 테이블 조회 : db.list_collection_names()
db.list_collection_names()

['users', 'tutorial_collection']

In [21]:
# users 지우기
db['users'].drop

In [23]:
# 테이블 조회 : db.list_collection_names()
db.list_collection_names()

['users', 'tutorial_collection']

In [25]:
collection = db['users_yeojin']

# 기존 데이터가 있다면 삭제 (새로운 실습을 위해)
collection.delete_many({})

# 샘플 데이터 삽입
sample_users = [
    {"name": "Alice", "age": 18},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "David", "age": 45},
    {"name": "Eve", "age": 55},
    {"name": "Frank", "age": 65}
]

collection.insert_many(sample_users)

InsertManyResult([ObjectId('6603ab684ab0d6146fccda44'), ObjectId('6603ab684ab0d6146fccda45'), ObjectId('6603ab684ab0d6146fccda46'), ObjectId('6603ab684ab0d6146fccda47'), ObjectId('6603ab684ab0d6146fccda48'), ObjectId('6603ab684ab0d6146fccda49')], acknowledged=True)

In [26]:
pipeline = [
    {"$addFields": {
        "generation_val": {
            "$switch": {
                "branches": [
                    {"case": {"$lte": ["$age", 20]}, "then": "Gen Z"},
                    {"case": {"$lte": ["$age", 40]}, "then": "Millennial"},
                    {"case": {"$lte": ["$age", 60]}, "then": "Gen X"},
                ],
                "default": "Baby Boomer"
            }
        }
    }}
]

results = collection.aggregate(pipeline)

for result in results:
    print(result)

{'_id': ObjectId('6603ab684ab0d6146fccda44'), 'name': 'Alice', 'age': 18, 'generation_val': 'Gen Z'}
{'_id': ObjectId('6603ab684ab0d6146fccda45'), 'name': 'Bob', 'age': 25, 'generation_val': 'Millennial'}
{'_id': ObjectId('6603ab684ab0d6146fccda46'), 'name': 'Charlie', 'age': 35, 'generation_val': 'Millennial'}
{'_id': ObjectId('6603ab684ab0d6146fccda47'), 'name': 'David', 'age': 45, 'generation_val': 'Gen X'}
{'_id': ObjectId('6603ab684ab0d6146fccda48'), 'name': 'Eve', 'age': 55, 'generation_val': 'Gen X'}
{'_id': ObjectId('6603ab684ab0d6146fccda49'), 'name': 'Frank', 'age': 65, 'generation_val': 'Baby Boomer'}

In [27]:
age = 30
if age<=60:
  print("Gen X")
elif age<=20:
  print("Gen Z")
elif age<=40:
  print("Millennial")
else:
  print("Baby Boomer")

Gen X

In [28]:
collection = db['users_yeojin']

# 기존 데이터가 있다면 삭제 (새로운 실습을 위해)
collection.delete_many({})

# 샘플 데이터 삽입
sample_users = [
    {"name": "Alice", "balance": 18},
    {"name": "Bob", "balance": 25},
    {"name": "Charlie", "balance": 35},
    {"name": "David", "balance": 45},
    {"name": "Eve", "balance": 55},
    {"name": "Frank", "balance": 65}
]

collection.insert_many(sample_users)

InsertManyResult([ObjectId('6603ab8f4ab0d6146fccda4a'), ObjectId('6603ab8f4ab0d6146fccda4b'), ObjectId('6603ab8f4ab0d6146fccda4c'), ObjectId('6603ab8f4ab0d6146fccda4d'), ObjectId('6603ab8f4ab0d6146fccda4e'), ObjectId('6603ab8f4ab0d6146fccda4f')], acknowledged=True)

In [30]:
balance = 30
if balance >= 50:
    print("부자")
elif balance >= 30:
    print("중산층")
else:
    print("하층민")

중산층